<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <div class="welcome-container">
    <img src="../../assets/svg/reginas.svg" alt="welcome-guirnaldas" />

    <ion-title>
      <div class="welcome-title">
        <img
          src="../../assets/welcome-loteria-mexicana.png"
          alt="welcome-cards"
        />
        <button
          (click)="goToGame()"
          class="welcome-button"
        >
        <div></div>
          <img src="../../assets/iniciar.svg" alt="welcome-flowers" />
        </button>
      </div>


    </ion-title>
    <div class="ad-container">

      <div class="banner-ad">ads</div>
      <div class="banner-ad">ads</div>
      <div class="banner-ad">ads</div>
      <div class="banner-ad">ads</div>
    </div>
  </div>
</ion-content>
