<ion-content [fullscreen]="true">
<ion-menu #menu contentId="container" side="end" >
  <ion-header>
    <ion-toolbar>
      <ion-title>Configuración</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
    <ion-item-group>
     <!--  <ion-item>
        <ion-label>Sonido</ion-label>
        <ion-item>
          <ion-toggle [checked]="allowSound" (ionChange)="changeAllowSound()"></ion-toggle><br /><br />
        </ion-item>
      </ion-item> -->
      <ion-item>
        <ion-label>Tiempo entre carta</ion-label>
        <ion-list>
          <ion-select
          (ionChange)="handleChangeVelocity($event)"
          [value]="velocityCurrentBetweenCards">
            <ion-select-option *ngFor="let value of validNumbersBetweenCards" [value]="value">{{value}} {{value == 1 ? 'segundo' : 'segundos'}}</ion-select-option>
          </ion-select>
        </ion-list>

      </ion-item>
      <!-- <ion-item lines="none">
        <ion-label>Ritmo de lectura</ion-label>
        <ion-list>

          <ion-select
            (ionChange)="handleChangeVelocityReadCard($event)"
            [value]="velocityCurrentReadCard">
              <ion-select-option *ngFor="let value of validNumbersReadCard" [value]="value">{{value}} {{value == 1 ? 'segundo' : 'segundos'}}</ion-select-option>
          </ion-select>
        </ion-list>
      </ion-item> -->
    </ion-item-group>


    </ion-list>
  </ion-content>
</ion-menu>
  <div id="container">
    <div class="ad-banner"></div>
    <img src="../../assets/svg/reginas.svg" alt="">
    <h3 class="counter-cards">{{ currentCardId }} / 54</h3>
    <!-- app -->
    <div class="deck" #playPauseRef>
      <div class="play-pause curtain" [class.paused]="!isPlaying() && hasStarted()"
      (click)="togglePlayPause()">
        <h3 class="pause appearText">PAUSADO</h3>
        <h3 class="iniciar" [class.hiddenText]="hasStarted() || isShuffling()">INICIAR</h3>
      </div>
      @for (c of deck; track c; let i = $index; ) {
      <div
        class="card"
        #cardRefs
        [id]="'card-' + c.id"
        [class.placed]="c.placed"
        [style.zIndex]="c.placed ? 100 - placedOrder.indexOf(c.id) : 1000 + i"
        [style.top.px]="c.placed ? placedTop : 0"
      >
        <div class="card-inner">
          <div class="card-front">
            <img
              class="card reveal-card fit-content absolute rounded-sm open"
              width="200"
              height="292"
              [src]="c?.src_versioned"
              alt=""
            />
          </div>
          <div class="card-back" *ngIf="!c.placed"></div>
        </div>
      </div>
      }
    </div>

    <!-- placed cards -->
    <div class="placed-scroll">
      <div class="placed-container" #placedContainer></div>
    </div>
  </div>

  <ion-fab vertical="center" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-menu-button (click)="menuOpen()">
        <ion-icon name="settings"/>
      </ion-menu-button>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer class="ion-no-border" [style.z-index]="zIndexFooter()">
  <!-- Reset Game -->
   <div class="flex space-bewteen mb10" style="width: 100%">
     <ion-button color="secondary" class="mx-auto"  [disabled]="isShuffling() || hasStarted()"
      class="barajear-btn "
      color="secondary"
      (click)="shuffleDeck()"> <span class="text-barajear">Barajear</span></ion-button>
    </div>
  <div class="flex space-bewteen mb5" style="width: 100%">
    <ion-fab-button
      color="secondary"
      id="present-alert"
      class="button-game play-btn reload-btn align-self-end"
    >
      <div></div>
      <ion-icon name="reload-outline"></ion-icon>
    </ion-fab-button>

    <!-- Iniciar -->

    <ion-fab-button
      *ngIf="!hasStarted() && !isPlaying()"
      [disabled]="isShuffling()"
      color="primary"
      class="button-game play-btn"
      (click)="playGame()"
    >
      <div></div>
      <ion-icon name="play"></ion-icon>
    </ion-fab-button>

    <!-- Pausar -->
    <ion-fab-button
      *ngIf="(hasStarted() && isPlaying())"
      color="primary"
      class="button-game play-btn"

      (click)="pauseAnim()"
    >
      <div></div>
      <ion-icon name="pause"></ion-icon>
    </ion-fab-button>

    <!-- Reanudar -->
    <ion-fab-button
      *ngIf="(hasStarted() && !isPlaying()) "
      color="primary"
      class="button-game play-btn"
      (click)="resumeAnim()"
      [disabled]="currentCardId >= totalCards"
    >
      <div></div>
      <ion-icon name="play"></ion-icon>
    </ion-fab-button>
    <!-- Volumen button -->
    <ion-fab-button
      color="secondary"
      class="button-game volume-btn align-self-end"
      (click)="handleVolume(volumeSize)"
    >
      <div></div>
      <ion-icon
        [name]="volumeSize ? 'volume-high-outline' : 'volume-mute-outline'"
      ></ion-icon>
    </ion-fab-button>

  </div>

  <ion-alert
    trigger="present-alert"
    header="¿VOLVER A EMPEZAR?"
    [buttons]="alertButtons"
  />
</ion-footer>
